extends base.pug

 
block scripts
    scripts(src="/static/index.js")

block style 
      style 
        include ../static/style.css
block content
        
        section#introsection 
            div welcome in dance academy 
            div.small  eat sleep dance repeat

        section#missionsection 
            h2 our mission 
            div.card
                  h3 dance perfection 
                  div.card-box
                        div.card-img
                            img(src="/static/21.png") 
                        div.card-content
                            p this is the best dance academy     

            div.card
                  h3 dance the way you like
                  div.card-box
                        div.card-img
                            img(src="/static/22.png") 
                        div.card-content
                            p this is the best dance academy  
            div.card
                  h3 expert teaching  
                  div.card-box
                        div.card-img
                            img(src="/static/23.png") 
                        div.card-content
                            p this is the best dance academy      
        section#sponserssection 
            h3 our sponser
            div#sponsers
                  img(src="/static/logo3.png",alt="sponser image",class="spimage")
                  img(src="/static/logo4.png",alt="sponser image",class="spimage")
                  img(src="/static/logo5.png",alt="sponser image",class="spimage")  
                  img(src="/static/logo6.png",alt="sponser image",class="spimage")